.form{
  text-align: center;
}

.box{
  display: inline-block;
  width: 200px;
  height: 50px;
}

#cleanBebida, #siguienteBebida, #cleanComida, #siguienteComida{
  display: inline-block;
margin-top: 20px;
  width: 200px;
  height: 50px;

}

#listProd,#prcTotal{
  display: none;
}

#table{

  width: 40%;
  margin:auto;
  text-align: center;
}

.centrado{
  width: 100%;
}
